<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog Site</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

</head>
<body>
    <div class="container">
        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" th:text="${username}">Project name</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/blogPost">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Static top</a></li>
                        <li><a href="#/">Fixed top</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
    </nav>
    <h1>Welcome to Our Elitist Blog Post Site!</h1>
    <h2>There will be NO edits!</h2>
        <a th:href="@{/blogPost/CreatePost}">
            <button class= "btn btn-primary">Submit a New Blog Post</button>
        </a>

        <div class="row">
            <div th:each="blog:${posts}">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p th:text="${blog.title}"/>
                        </div>
                        <div class="panel-body">
                            <p th:text="${blog.author}"/>
                            <p th:text="${blog.blogEntry}" />
                        </div>
                        <div class="panel-footer">
                            <div class="card-footer">
                                <a href="#" th:href="@{blogPost/update/{id}(id=${blog.id})}"th:method="post"
                                   class="form-horizontal">
                                    <button class="btn btn-light">Edit Post</button>
                                </a>

                            </div>

                            <!-- Link to Show  -->

                            <form action="#" th:action="@{'/blogPost/{id}'(id=${blog.id})}" th:method="post"
                                  class="form-horizontal">
                                <div class="form-group">
                                    <input type="hidden" name="_method" value="delete"/>
                                    <button type="submit" class="btn btn-danger btn-block" th:text="Delete">Delete</button>
                                </div>



                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
    </div> <!-- /container -->
</body>
</html>